{
  "printWidth": 130,
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5",
  "htmlWhitespaceSensitivity": "css",
  "jsxSingleQuote": false,
  "bracketSameLine": false,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "^@/config/(.*)$",
    "^@/constants/(.*)$",
    "^@/interfaces/(.*)$",
    "^@/api/(.*)$",
    "^@/store",
    "^@/store/(.*)$",
    "^@/utils/(.*)$",
    "^@/hooks/(.*)$",
    "^@/recoils/(.*)$",
    "^@/common/(.*)$",
    "^@/components/(.*)$",
    "^@/views/(.*)$",
    "^@/styles/(.*)$",
    "^[./]",
    "^@/assets/icons/normal(.*)$",
    "^@/assets/icons/interface(.*)$",
    "^@/assets/(.*)$",
    "^@/data/(.*)$"
  ],
  "importOrderSortSpecifiers": true
}
